* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  background-image: url('https://images5.alphacoders.com/675/675272.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.poke-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}
.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 550px;
}
.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 90%;
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.4);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: scroll;
}
.poke-cell {
  width: 120px;
  height: 120px;
  margin: 10px;
  background-color: #FFF;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
  outline: none;
}
.detail-view {
  width: 50%;
  height: 90%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.sprite-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 240px;
  margin: 0px auto 0.6rem auto;
  background-color: #f97b7b;
  border: 0.7rem solid #FFF;
  border-radius: 5px;
  color: #585858;
}
.sprite-image {
  width: 90%;
  height:90%;
}
.data-wrapper {
  width: 75%;
  height: 290px;
  padding: 10px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.22);
  color: #FFF;
}
.sprite-name {
  color: #FFF;
  background: rgba(0,0,0,.5);
  width:100%;
  text-align: center;
  text-transform: uppercase;
}
.data-name {
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0px;
}

.data-wrapper span {
  padding: 2px 8px;
  margin-right: 10px;
  text-transform: uppercase; 
}
.info {
  display: flex;
  align-items: center;
}
.info p {
  margin-right: 20px;
  margin-top: 4px;
}
.flex-22 {
  flex-basis: 22%;
  margin-right: 0 !important;
}
.progress {
  height: 28px; 
  flex-basis: 76%;
}
.progress-bar {
  height:100%;
  background: #02d823;
}
.info-name {
  font-size: 1rem;
  color: #FFF;
  font-weight: 500;
  line-height: 1.2;
  float:left;
  margin-top: 6px;
  margin-left: 4px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 14px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
}
.sidebar {
  position: fixed;
  left: 0;
  top: 30%;
  cursor: pointer;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.sidebar img:hover {
  animation: shake 0.5s; 
  outline: none;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.input-group.md-form.form-sm.form-1 input.red-border {
  border: 1px solid #ef9a9a;
  }
  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.6s;
    transform-style: preserve-3d;
  }
  .flip-box-inner:hover, .flip-box-back:hover {
    cursor: pointer;
  }
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
    .flip-box-back {

    transform: rotateY(180deg);
  }


  

  .info-box {
    display: flex;
    flex-direction: column;
  }
  .info-box i {
    font-size: 3.2rem;
    color: #88b7d5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-box h3 {
    padding: 0 1rem;
  }
