.row {
    width: 100%;
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
}

.poketv-box {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.big-image {
    width: 100%;
    height: 350px;
}

.medium-image {
    width: 40%;
}

.box-info {
    background: #282828;
    padding: 1.15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    transition: all 1s;
}

.box-red {
    background: #ff5e5e;
}

.box-orange {
    background: #f39027;
}
.black-box:hover {
    background: #000;
}
.box-red:hover {
    background: #f52f2f;
}
.box-orange:hover {
    background: #f37d00;
}
.box-info p,
.box-info h3 {
    color: #fff;
    margin-top: 0.4rem;
}
.news {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.news p {
    margin-bottom: 0.8rem;
}
.shake:hover {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.series-box {
    background: #fff;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.series-1 {
    background-size: cover;
    background-position: center;
    width: 14rem;
    height: 100px;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 52px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: flex;
    border-radius: 0.6rem;
	justify-content: center;
    align-items: center;
    opacity: 0;
	transition: all 0.5s;
}
.overlay i{
	transform: scale(0.5);
	transition: all 0.3s;
}
.series-1:hover .overlay, .movie-img:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.series-1:hover .overlay i, .movie-img:hover .overlay i {
    transform: scale(1);
}

.movie-list {
    height: 500px;
    overflow-y: scroll;
}
.movie-item {
    width: 100%;
    padding: 0.6rem;
    cursor: pointer;
    border-bottom: 0.1rem solid #fff;
    border-left: 0.1rem solid #fff;
}
.movie-item p {
    color: #fff;
}
.movie-img {
    position: relative;
    margin-right: 1rem;
    width: 120px;
    height: 100px;
}
.movie-img img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.movie {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.title {
    color: #efff78;
    border-bottom: 0.1rem solid white;
    padding: 0.5rem 0;
}
.video {
    margin-top: 6rem;
}